@import "src/app/variables";

app-link, app-small-link {
    transition: 0.4s;
    box-sizing: border-box;

    border-radius: $b-radius-block;
    border: $b-width solid $b-color-light;
    background-color: $background-block;
    box-shadow: 0 12px 24px -12px rgba($text-emphasis-low, 0.22);

    &:hover {
        transform: scale(1.075);
        box-shadow: 0 12px 32px -6px rgba($text-emphasis-low, 0.22);
    }
}

app-link {
    display: block;
    word-break: break-word;
    width: calc(100% * (1/3) - 4%);

    margin: $margin-links-y 4% $margin-links-y 0;
}

app-small-link {
    display: block;
    width: calc(100% * (1/4) - 3%);
    height: fit-content;

    margin: calc(#{$margin-links-y}/1.75) 3% calc(#{$margin-links-y}/1.75) 0;
}

@media only screen and (max-width: 1580px) {
    app-link {
        display: block;
        word-break: break-word;
        width: calc(100% * (1/2) - 4%);

        margin: $margin-links-y 4% $margin-links-y 0;
    }

    app-small-link {
        display: block;
        width: calc(100% * (1/3) - 3%);

        margin: calc(#{$margin-links-y}/1.75) 3% calc(#{$margin-links-y}/1.75) 0;
    }
}

@media only screen and (max-width: 1000px) {
    :host {
        margin: 0 0 12px 0;
    }

    app-link {
        display: block;
        word-break: break-word;
        width: 100%;

        margin: calc(#{$margin-links-y}/1.75) 4% calc(#{$margin-links-y}/1.75) 0;
    }

    app-small-link {
        display: block;
        width: calc(100% * (1/2) - 3%);

        margin: calc(#{$margin-links-y}/2) 3% calc(#{$margin-links-y}/2) 0;
    }
}
