<app-tool-showcase class="tools" *ngFor="let tool of tools" [tools]="tool"></app-tool-showcase>

<app-link class="links" *ngFor="let project of projects" [link]="project"></app-link>
<app-link class="links" *ngFor="let contribution of contributions" [link]="contribution"></app-link>

<app-small-link class="small-links" *ngFor="let skill of skills" [smallLink]="skill"></app-small-link>
<app-small-link class="small-links" *ngFor="let resource of resources" [smallLink]="resource"></app-small-link>
