<ng-template #placeholder>
    <app-content-empty></app-content-empty>
</ng-template>

<ng-container class="link--container" *ngIf="tools?.length || projects?.length || contributions?.length || skills?.length || resources?.length else placeholder" >
    <app-link class="links" *ngFor="let tool of tools" [link]="tool" ></app-link>
    <app-link class="links" *ngFor="let project of projects" [link]="project" ></app-link>
    <app-link class="links" *ngFor="let contribution of contributions" [link]="contribution" ></app-link>
</ng-container>

<ng-container class="small-link--container" *ngIf="skills?.length || resources?.length  || projects?.length || contributions?.length else placeholder" >
    <app-small-link class="small-links" *ngFor="let skill of skills" [smallLink]="skill" ></app-small-link>
    <app-small-link class="small-links" *ngFor="let resource of resources" [smallLink]="resource" ></app-small-link>
</ng-container>
