@import "src/app/variables";

span {
    margin: 0 2px;
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    padding: 3px;
    border-radius: 4px;

    &.yellow {
        color: $inverted-text-high-emphasis;
        background-color: rgba(239, 190, 73, 0.75);
    }

    &.dark-green {
        color: $inverted-text-high-emphasis;
        background-color: rgba(64, 180, 128, 0.75);
    }

    &.orange {
        color: $inverted-text-high-emphasis;
        background-color: rgba(227, 113, 63, 0.75);
    }
}
