@import "src/app/variables";

span {
    margin-right: 3px;
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    font-size: 12px;
    word-break: keep-all;
    padding: 3px 5px;
    border-radius: 12px;

    box-sizing: border-box;
    border: 1px solid $b-color-light;
    color: $text-emphasis-normal;
    background-color: rgba(0, 0, 0, $emphasis-LOW);
}
