@import "src/app/variables";

:host {
    animation: 2.5s animate-section-content ease-in-out;
}

app-contributions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

p {
    width: 50%;
}

@keyframes animate-section-content {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
