<h1 *ngIf="content?.title"><span *ngIf="content?.id == 'projects'">{{ content?.links?.length || 0 }}</span>
    {{ content?.title }}
</h1>
<p *ngIf="content?.text" [innerHtml]="content?.text"></p>

<app-links *ngIf="content?.id === 'skills' && content?.smallLinks?.length! % 2 == 1" class="center" [skills]="content?.smallLinks"></app-links>
<app-links *ngIf="content?.id === 'skills' && content?.smallLinks?.length! % 2 == 0" [skills]="content?.smallLinks"></app-links>
<app-links *ngIf="content?.id === 'projects'" [projects]="content?.links"></app-links>
<app-links *ngIf="content?.id === 'contributions'" [contributions]="content?.links"></app-links>
<app-links *ngIf="content?.id === 'resources' && content?.smallLinks?.length! % 2 == 1" class="center" [resources]="content?.smallLinks"></app-links>
<app-links *ngIf="content?.id === 'resources' && content?.smallLinks?.length! % 2 == 0" [resources]="content?.smallLinks"></app-links>
