<h1 *ngIf="content?.title"><span *ngIf="content?.id == 'projects'">{{ content?.links?.length || 0 }}</span>
    {{ content?.title }}
</h1>
<p *ngIf="content?.text" [innerHtml]="content?.text"></p>

<app-links *ngIf="content?.id === 'skills'" class="small" [skills]="content?.smallLinks"></app-links>
<app-links *ngIf="content?.id === 'projects'" [projects]="content?.links"></app-links>
<app-links *ngIf="content?.id === 'contributions'" [contributions]="content?.links"></app-links>
<app-links *ngIf="content?.id === 'resources'" [resources]="content?.smallLinks"></app-links>
