@import "src/app/variables";

@keyframes animate-placeholder-idle {
    0% {
        opacity: $low-emphasis;
    }
    50% {
        opacity: $lowest-emphasis;
    }
    100% {
        opacity: $low-emphasis;
    }
}
