@import "src/app/variables";

:host:hover {
    background-color: #f2f1f5;

    .title {
        color: $primary-color;
    }
}

.content {
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.context {
    display: flex;
    flex-wrap: wrap;

    &--header {
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        text-align: center;
    }
}

.title {
    font-weight: 700;
    font-size: 28px;
    transition: 0.4s;
}

.desc {
    text-align: center;
}

a {
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    width: 100%;
}

img {
    height: 38px;
}
