<app-tool-showcase (toolShowcaseActiveOutput)="setActive($event)" [tool]="rsa"></app-tool-showcase>
<div [ngClass]="{'active' : toolShowcaseActive}" class="content">
    <span class="container">
        <hr>
        <h1>RSA</h1>
        <div [ngClass]="{'hidden' : hideAlertBox}" class="altert-box info">
            <span class="heading">
                <h1>info</h1>
                <span (click)="setHideAlertBox()" class="closing-button">&#10005;</span>
            </span>

            <hr>
            <p>
                The following tool is not available in English. I have decided to write it in German, because I think
                that I can represent natural language aspects more accurately in German, which can be fundamental
                in the following procedure.
            </p>
            <p>
                It should be noted that there may be errors with this tool. I may not have completely purged the
                procedures of sources of error. Despite the small probability that there are flaws, you are very welcome
                to contact me via e-mail (<strong>sora(at)sorata.dev</strong>) if you have found any.
            </p>
            <p>
                For the following tool, it may be helpful if you are already familiar with <strong>residue classes</strong> and
                preferably the basic idea of <strong>asymmetric cryptographic encryption algorithms</strong>.
            </p>
            <p>
                It is also not recommended to use this tool on smartphones or small displays. It may lead to an
                overflow of the content, especially if long sequences of numbers are generated automatically.
            </p>
        </div>
        <div class="tabs">
            <input type="radio" name="rsa-procedure" id="with-key" checked="checked">
            <label for="with-key" (click)="resetProcedure()">RSA-Schlüssel</label>
            <div class="tab">
                <div class="tabs">
                    <input type="radio" name="calculation-style-key" id="with-key-own" checked="checked">
                    <label for="with-key-own" (click)="resetProcedure()">Eigene Werte</label>
                    <div class="tab">
                        <h1 class="sub-heading">Verwende eigene Werte</h1>
                        <p ngNonBindable>Man gebe einen beliebigen ($\text&#123;encrypt&#125;$) Schlüssel $e$ und
                            den dazugehörigen RSA-Modul $N$ an.
                        </p>
                        <p>$e = $ <input #eWithKey
                                         [ngClass]="{'faulty' :
                                         exception == 8
                                         || exception == 1
                                         || exception == 6
                                         || exception == 12
                                         || exception == 23}"
                                         (keyup)="setE(eWithKey.value)"
                                         (click)="setE(eWithKey.value)"
                                         class="input">

                            <span class="error" [ngClass]="{'true' :
                            exception == 8
                            || exception == 1
                            || exception == 6}"
                                  [mathjax]="validRange">
                            </span>
                            <span class="error" [ngClass]="{'true' : exception == 12}"> Es ist darauf zu achten, dass $e$
                            nicht das 32-Bit-Integer-Limit von $2\:147\:483\:647$ überschreitet.</span>
                        </p>
                        <p>$N = $ <input #N
                                         [ngClass]="{'faulty' :
                                         exception == 11
                                         || exception == 15
                                         || exception == 24}"
                                         (keyup)="setN(N.value)"
                                         (click)="setN(N.value)"
                                         class="input">

                            <span class="error" [ngClass]="{'true' : exception == 11}"> $N$ muss $\geq 4$ sein.</span>
                            <span class="error" [ngClass]="{'true' : exception == 15}"> Es ist darauf zu achten, dass $N$
                            nicht das 32-Bit-Integer-Limit von $2\:147\:483\:647$ überschreitet.</span>
                        </p>
                        <p class="error" [ngClass]="{'true': exception == 23 || exception == 24}">
                            Die Eingaben müssen Zahlen $\in \mathbb&#123;N&#125;$ sein.</p>
                        <button class="btn-primary" [ngClass]="{'disabled': processLoading}" (click)="
                            refreshInputs('with-key', eWithKey.value, '0', '0', N.value)">berechnen</button>
                    </div>
                    <input type="radio" name="calculation-style-key" id="with-key-generated">
                    <label for="with-key-generated" (click)="resetProcedure()">Zufällige Werte</label>
                    <div class="tab">
                        <h1 class="sub-heading">Generiere Werte durch Zufall</h1>
                        <p>Hier lassen sich zufällige Werte generieren. Es ist auch zu berücksichtigen, dass hier nur
                        solche Werte generiert werden, die ein vollständiges Verfahren ermöglichen. Es werden also
                        (voraussichtlich) keine Ausnahmefälle eintreten, es sei denn, $e$ ist $1$.</p>

                        <p>
                            Grenzwerte für die Primfaktoren:
                            <input [ngClass]="{'faulty': exception == 18
                            || exception == 19
                            || exception == 16
                            || exception == 25}"
                                   class="input limits" type="number" #keyPrimesMin [defaultValue]="5">
                            -
                            <input [ngClass]="{'faulty':
                            exception == 18
                            || exception == 19
                            || exception == 17
                            || exception == 26}"
                                   class="input limits" type="number" #keyPrimesMax [defaultValue]="29">
                        </p>

                        <p class="error" [ngClass]="{'true': exception == 25 || exception == 26}">
                            Die Eingaben müssen Zahlen $\in \mathbb&#123;N&#125;$ sein.</p>
                        <p class="error" [ngClass]="{'true': exception == 16}">Das Minimum befindet sich nicht im gültigen Intervall $(2 - 6\:000)$.</p>
                        <p class="error" [ngClass]="{'true': exception == 17}">Das Maximum befindet sich nicht im gültigen Intervall $(2 - 6\:000)$.</p>
                        <p class="error" [ngClass]="{'true': exception == 18}">Das Minimum ist größer als das Maximum.</p>
                        <p class="error" [ngClass]="{'true': exception == 19}">Im angegebenen Intervall befinden sich keine Primzahlen.</p>

                        <button class="btn-primary" [ngClass]="{'disabled': processLoading}" (click)="
                            randomInputs('with-key', keyPrimesMin.value, keyPrimesMax.value)">zufällig</button>
                    </div>
                </div>

                <app-dash-loading *ngIf="processLoading"></app-dash-loading>

                <p class="mathjax-content" *ngIf="exception != 1" [mathjax]="factorizationProcess"></p>
                <p class="mathjax-content" *ngIf="exception != 1" [mathjax]="eulerTotientProcess"></p>
                <p class="mathjax-content" *ngIf="exception == 0 || exception == 3" [mathjax]="findingGCDProcess"></p>
                <p class="mathjax-content" *ngIf="exception == 0 && extendedGCDList" [mathjax]="extendGCDProcess"></p>
                <p class="mathjax-content" *ngIf="exception == 0 && extendedGCDList" [mathjax]="findCongurenceProcess"></p>
                <p class="mathjax-content" *ngIf="exception == 0 || exception == 20" [mathjax]="displayKeys"></p>
            </div>

            <input type="radio" name="rsa-procedure" id="with-primes">
            <label for="with-primes" (click)="resetProcedure()">Primzahlen</label>
            <div class="tab">
                <div class="tabs">
                    <input type="radio" name="calculation-style-primes" id="with-primes-own" checked="checked">
                    <label for="with-primes-own" (click)="resetProcedure()">Eigene Werte</label>
                    <div class="tab">
                        <h1 class="sub-heading">Verwende eigene Werte</h1>
                        <p>Man gebe zwei Primzahlen $p$, $q$ und einen beliebigen ($\text&#123;encrypt&#125;$) Schlüssel $e$ an.</p>
                        <p>$p = $ <input #p
                                         [ngClass]="{'faulty' :
                                         exception == 4
                                         || exception == 9
                                         || exception == 13
                                         || exception == 21
                                         || exception == 27}"
                                         (keyup)="setPrimeP(p.value)"
                                         (click)="setPrimeP(p.value)"
                                         class="input">
                            <span class="error" [ngClass]="{'true' : exception == 4 || exception == 9}"> $p$ muss $>0$
                                und eine Primzahl sein.
                            </span>
                            <span class="error" [ngClass]="{'true' : exception == 13}"> Es ist darauf zu achten, dass $p$
                            nicht das 32-Bit-Integer-Limit von $2\:147\:483\:647$ überschreitet.</span>
                        </p>
                        <p>$q = $ <input #q
                                         [ngClass]="{'faulty' :
                                         exception == 5
                                         || exception == 10
                                         || exception == 14
                                         || exception == 22
                                         || exception == 27}"
                                         (keyup)="setPrimeQ(q.value)"
                                         (click)="setPrimeQ(q.value)"
                                         class="input">

                            <span class="error" [ngClass]="{'true' : exception == 5 || exception == 10}"> $q$ muss $>0$
                                und eine Primzahl sein.</span>
                            <span class="error" [ngClass]="{'true' : exception == 27}"> Es ist darauf zu achten, dass das Produkt $p \cdot q$
                            nicht das 32-Bit-Integer-Limit von $2\:147\:483\:647$ überschreitet.</span>
                        </p>
                        <p>$e = $ <input #eWithPrimes
                                         [ngClass]="{'faulty' :
                                         exception == 8
                                         || exception == 1
                                         || exception == 6
                                         || exception == 12
                                         || exception == 23}"
                                         (keyup)="setE(eWithPrimes.value)"
                                         (click)="setE(eWithPrimes.value)"
                                         class="input">

                            <span class="error" [ngClass]="{'true' :
                            exception == 8
                            || exception == 1
                            || exception == 6}"
                            [mathjax]="validRange">
                            </span>
                            <span class="error" [ngClass]="{'true' : exception == 12}"> Es ist darauf zu achten, dass $e$
                            nicht das 32-Bit-Integer-Limit von $2\:147\:483\:647$ überschreitet.</span>
                        </p>
                        <p class="error" [ngClass]="{'true':
                        exception == 21 ||
                        exception == 22 ||
                        exception == 23}">
                            Die Eingaben müssen Zahlen $\in \mathbb&#123;N&#125;$ sein.</p>
                        <button class="btn-primary" [ngClass]="{'disabled': processLoading}"
                                (click)="refreshInputs('with-primes', eWithPrimes.value, p.value, q.value, '')">berechnen</button>

                    </div>

                    <input type="radio" name="calculation-style-primes" id="with-primes-generated">
                    <label for="with-primes-generated" (click)="resetProcedure()">Zufällige Werte</label>
                    <div class="tab">
                        <h1 class="sub-heading">Generiere Werte durch Zufall</h1>
                        <p>Hier lassen sich zufällige Werte generieren. Es ist auch zu berücksichtigen, dass hier nur
                        solche Werte generiert werden, die ein vollständiges Verfahren ermöglichen. Es werden also
                        (voraussichtlich) keine Ausnahmefälle eintreten, es sei denn, $e$ ist $1$.</p>
                        <p>
                            Grenzwerte für die Primfaktoren:
                            <input [ngClass]="{'faulty':
                            exception == 18
                            || exception == 19
                            || exception == 16
                            || exception == 25}"
                                   class="input limits" type="number" #primesMin [defaultValue]="5">
                            -
                            <input [ngClass]="{'faulty':
                            exception == 18
                            || exception == 19
                            || exception == 17
                            || exception == 26}"
                                class="input limits" type="number" #primesMax [defaultValue]="29">
                        </p>
                        <p class="error" [ngClass]="{'true': exception == 25 || exception == 26}">
                            Die Eingaben müssen Zahlen $\in \mathbb&#123;N&#125;$ sein.</p>
                        <p class="error" [ngClass]="{'true': exception == 16}">Das Minimum befindet sich nicht im gültigen Intervall $(2 - 6\:000)$.</p>
                        <p class="error" [ngClass]="{'true': exception == 17}">Das Maximum befindet sich nicht im gültigen Intervall $(2 - 6\:000)$.</p>
                        <p class="error" [ngClass]="{'true': exception == 18}">Das Minimum ist größer als das Maximum.</p>
                        <p class="error" [ngClass]="{'true': exception == 19}">Im angegebenen Intervall befinden sich keine Primzahlen.</p>
                        <button class="btn-primary" [ngClass]="{'disabled': processLoading}" (click)="
                            randomInputs('with-primes', primesMin.value, primesMax.value)">zufällig</button>
                    </div>
                </div>

                <app-dash-loading *ngIf="processLoading"></app-dash-loading>

                <p class="mathjax-content" *ngIf="exception != 1
                            && exception != 16
                            && exception != 17
                            && exception != 18
                            && exception != 19" [mathjax]="findRSAModulProcess"></p>
                <p class="mathjax-content" *ngIf="exception != 1
                            && exception != 16
                            && exception != 17
                            && exception != 18
                            && exception != 19" [mathjax]="eulerTotientProcess"></p>
                <p class="mathjax-content" *ngIf="exception == 0 || exception == 7 || exception == 3" [mathjax]="findingGCDProcess"></p>
                <p class="mathjax-content" *ngIf="exception == 0 && extendedGCDList" [mathjax]="extendGCDProcess"></p>
                <p class="mathjax-content" *ngIf="exception == 0 && extendedGCDList" [mathjax]="findCongurenceProcess"></p>
                <p class="mathjax-content" *ngIf="exception == 0 || exception == 20" [mathjax]="displayKeys"></p>
            </div>
        </div>
    </span>
</div>
