@import "src/app/variables";

span {
    margin-right: 5px;
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    font-size: 13px;
    padding: 3px;
    border-radius: 4px;
    color: rgba($primary-color, 0.85);
    background-color: rgba($primary-color, 0.23);
}
