<div class="navbar">
    <div class="navbar--content">
        <a href="." class="navbar__icon">
            <img class="navbar__icon" src="../../assets/sage.svg" alt=""/>
        </a>
        <div class="navbar--opts">
            <a class="navbar--opts__opt" href=".#top">
                <span>top</span>
                <img class="navbar--opts__opt__icon" src="../../assets/navbar/top.svg" alt=""/>
            </a>
            <a class="navbar--opts__opt" href=".#about">
                <span>about</span>
                <img class="navbar--opts__opt__icon" src="../../assets/navbar/about.svg" alt=""/>
            </a>
            <a class="navbar--opts__opt" href=".#projects">
                <span>activities</span>
                <img class="navbar--opts__opt__icon" src="../../assets/navbar/projects.svg" alt=""/>
            </a>
            <a class="navbar--opts__opt" href=".#resources">
                <span>resources</span>
                <img class="navbar--opts__opt__icon" src="../../assets/navbar/tools.svg" alt=""/>
            </a>
        </div>
    </div>

    <app-scroll-progress class="scroll-progress"></app-scroll-progress>
</div>
