@import "src/app/variables";

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    z-index: 1;
    animation: 1.75s animate-navbar ease-in-out;

    padding: $padding-normal;
    border-bottom: $b-width solid $b-color;
    background-color: rgb($background-block, 0.85);

    &--content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        height: 28px;
        width: 28px;
        margin-right: 12px;
    }

    &--opts {
        display: flex;
        flex-direction: row;

        &__opt {
            margin-left: 6px;
            font-size: 16px;
            font-family: "Mulish", sans-serif;
            font-weight: 300;
            text-decoration: none;
            transition: 0.2s;

            padding: $padding-normal;
            color: $text-high-emphasis;
            border-radius: $b-radius-small;

            &:hover {
                background-color: rgba(0, 0, 0, $very-low-emphasis);
            }
        }
    }

    .scroll-progress {
        position: absolute;
        bottom: -1px;
        width: 100%;
    }
}

@keyframes animate-navbar {
    from {
        opacity: 0;
        top: -10%;
    }
    to {
        opacity: 1;
        top: 0;
    }

}
