<div class="navbar">
    <div class="navbar--content">
        <a href="." class="navbar__icon">
            <img class="navbar__icon" src="../../assets/sage.svg" alt=""/>
        </a>
        <div class="navbar--opts">
            <a class="navbar--opts__opt" href=".#top">top</a>
            <a class="navbar--opts__opt" href=".#about">about</a>
            <a class="navbar--opts__opt" href=".#projects">projects</a>
            <a class="navbar--opts__opt" href=".#resources">resources</a>
        </div>
    </div>

    <app-scroll-progress class="scroll-progress"></app-scroll-progress>
</div>
