<div [ngClass]="{'active': navbarActive}" class="navbar {{ colorEnvironment }}">
    <div class="content">
        <a href="." class="icon">
            <img class="icon" src="../../assets/sage.svg" alt=""/>
        </a>
        <div class="opts">
            <div class="toggle" (click)="toggleNavbar()">
                <span>&#10095;</span>
            </div>
            <a class="opt" href=".#about">
                <span>about</span>
            </a>
            <a class="opt" href=".#tools">
                <span>tools</span>
            </a>
            <a class="opt" href=".#projects">
                <span>activities</span>
            </a>
            <a class="opt" href=".#resources">
                <span>resources</span>
            </a>
        </div>
    </div>
</div>
