.badge {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 4px;
    border-radius: 4px;
}

.green {
    color: rgb(22, 197, 115);
    background-color: rgba(22, 197, 115, 0.28);
}

.red {
    color: rgb(235, 59, 64);
    background-color: rgba(235, 59, 64, 0.28);
}

.purple {
    color: rgb(118, 70, 220);
    background-color: rgba(118, 70, 220, 0.28);
}
