<app-tool-showcase (toolShowcaseActiveOutput)="setActive($event)" [tool]="complementBuilder"></app-tool-showcase>
<div [ngClass]="{'active' : toolShowcaseActive}" class="content">
    <span class="container">
        <hr>
        <h1>what is a complement?</h1>
        <p>In a nutshell, the complement of a number is the inversion of itself. The inverse represents the respective negative number.
            The complement is used to make arithmetic operations with numbers more efficient, as subtractions
            can be mapped to additions.
        </p>
        <h1>how is the complement of a number calculated?</h1>
        <p ngNonBindable>
            In the following part, we depict a number as $n_b$ with $n$ being the number and $b$ the radix.

            Single digits of a number will be depicted as $n_{{b,i}}$. The complement is marked as $K_{{{b-nTC}}}(n_b)$
            ($nTC := \text{{notTwosComplement}}$ may be $0$ or $1$).
        </p>
        <p ngNonBindable>
            Let the number, we want to get the complement of, be 209 in the decimal format.
            To get $K_{{10}}(209_{{10}})$, we will firstly define $K_{{10-1}}(209_{{10}})$.
            This is achieved by inverting the digits of $209_{{10}}$.
            To visualize: Invert the decimal system $:= S_{{10}}$ and map it to the non-inverted decimal system as follows
            (please note that this is a non-formal concept, which applies to any arbitrary radix):
            $S_{{10}} \rightarrow \overline{{S_{{10}}}}: 209_{{10,i}} \mapsto \overline{{209_{{10,i}}}}$
            via $( 10 - 209_{{10,i}} - 1 ) \mod{{10}}$ or in general
            $( b - n_{{b,i}} - 1 ) \mod{{10}}$. Theoretically, the modulo is relevant for later arithmetic operations (e.g.
            determining the two's complement in one step).
            Here, however, it is not.
        </p>
        <p ngNonBindable>
            Through that, we receive $(2 \leftrightarrow 7, 0 \leftrightarrow 9, 9 \leftrightarrow 0)
            \implies K_{{10-1}}(209_{{10}}) = 790_{{10}}$.
        </p>
        <p ngNonBindable>
            From latter we conclude
            $K_{{10-1}}(209_{{10}}) + 1_{{10}}
                = K_{{10}}(209_{{10}})
                = 790_{{10}} + 1_{{10}}
                = 791_{{10}}$.
        </p>
        <h1>can the calculation be simpler?</h1>
        <p>
            Totally. In programming languages such as Java, there are already implemented methods that make it
            much easier to derive the complement.
        </p>
        <h1>why did you write this tool then?</h1>
        <p>
            TL;DR I was quite bored.
            <br>
            <br>
            It might have helped me to do some assignments a little bit quicker, moreover.
        </p>
        <hr>
        <h1>demo</h1>

        <p class="demo-text">Enter a number you want to get the complement of:</p>
        <input class="input" #inputString (keyup)="getInputString(inputString.value)" type="text" placeholder="e.g. &quot;3EF5&quot; with radix 16">

        <p class="demo-text">Enter a radix from 2 - 16 (starting from radix 10, numbers will be mapped
            to corresponding characters A, B, C, D, E and F):</p>
        <input class="input" #radix (keyup)="getRadix(radix.value)" (click)="getRadix(radix.value)" type="number" [defaultValue]=2>

        <div class="tweaks-window">
            <h1 class="sub-heading" (click)="toggleTweaksWindow()">tweaks</h1>

            <div [ngClass]="{'active': tweaksWindow}" class="tweaks">
                <p class="demo-text">Enter a size your number should be mapped to or leave on 0 to not map:</p>
                <input class="input" #length (keyup)="getLength(length.value)" (click)="getLength(length.value)" type="number" [defaultValue]=0>

                <p class="demo-text">Do you want to output the b-1's complement?
                    <span [ngClass]="{'active': getMinusOneComplement}" class="toggle-option-inline" (click)="toggleReturnMinusOneComplement()">
                        <span>
                            &#10003;
                        </span>
                    </span>
                </p>
            </div>
        </div>

        <button class="btn-primary" (click)="getOutput()">calculate</button>
        <div class="output-field">
            <span *ngFor="let output of outputs, let indexOfElement = index">
                <span class="line-counter">{{ indexOfElement + 1 }}</span> $ <span class="{{ output.status }}">{{ output.text }}</span>
            </span>
        </div>
    </span>
</div>
