@import "src/app/variables";

:host {
    max-width: 33%;
    word-break: break-word;
    transition: 0.4s;

    border-radius: $b-radius-small;
    background-color: $background-block;
    box-shadow: 0 12px 24px -12px rgba($text-low-emphasis, 0.22);

    &:hover {
        .title {
            color: $primary-color;
        }
    }
}

p {
    display: flex;
    flex-wrap: wrap;
}

app-type-badge, app-lang-badge {
    &:first-child{
        margin-left: 5px;
    }
}

.content {
    padding: 24px;
}

.title {
    font-weight: 700;
    font-size: 28px;
    transition: 0.4s;
}

a {
    text-decoration: none;
}
