<a [href]="boxLink" target="_blank" class="content">
    <div class="context--container">
        <div class="heading">
            <h1 class="title">{{ link.title }} &#10142;</h1>
            <div class="sources">
                <app-source-badge *ngFor="let source of sourceLinks" [displayName]="source"></app-source-badge>
            </div>
        </div>
        <p class="state-type">Status:
            <app-state-badge [badge]="stateBadge" [conclusionDate]="link.conclusionDate">
            </app-state-badge>
        </p>
        <p class="description" [innerHtml]="link.description"></p>
    </div>
    <div class="footer--container">
        <p class="resource-type">Resources: <app-type-badge *ngFor="let lang of langBadges" [badge]="lang"></app-type-badge></p>
        <p class="contribution-type" *ngIf="link.remit?.length">My remit: <app-type-badge *ngFor="let remit of typeBadges" [badge]="remit"></app-type-badge></p>
        <div class="btn--container">
            <a *ngIf="link.link" [href]="link.link" target="_blank" class="btn-primary">visit site</a>
            <a *ngIf="!link.link" [href]="link.codeLink" target="_blank" class="btn-primary">view code</a>
            <a *ngIf="link.codeLink && link.link" [href]="link.codeLink" target="_blank" class="btn-secondary">view code</a>
        </div>
    </div>
</a>
