<a [href]="boxLink" target="_blank" class="content">
    <div class="context--container">
        <h1 class="title">{{ link.title }}</h1>
        <p class="description">{{ link.description }}</p>
    </div>
    <div class="footer--container">
        <hr>
        <p class="resource-type">Used resources: <app-type-badge *ngFor="let lang of langBadges" [badge]="lang"></app-type-badge></p>
        <p class="contribution-type">My remit: <app-type-badge *ngFor="let remit of typeBadges" [badge]="remit"></app-type-badge></p>
        <div class="btn--container">
            <a *ngIf="link.link" [href]="link.link" target="_blank" class="btn-primary">visit site</a>
            <a *ngIf="!link.link" [href]="link.codeLink" target="_blank" class="btn-primary">view code</a>
            <a *ngIf="link.codeLink && link.link" [href]="link.codeLink" target="_blank" class="btn-secondary">view code</a>
        </div>
    </div>
</a>
