@import "src/app/variables";

:host:hover {
    background-color: #f2f1f5;

    .title {
        color: $primary-color;
    }
}

p {
    display: flex;
    flex-wrap: wrap;
}

app-type-badge, app-lang-badge {
    &:first-child {
        margin-left: 5px;
    }
}

.content {
    height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.context--container {
    display: flex;
    flex-direction: column;
}

.footer--container {
    display: flex;
    flex-direction: column;

    & hr {
        width: 16%;
        height: 2px;
        border: none;

        background-color: $text-low-emphasis;
    }

    & p {
        margin: 6px 0;
        font-size: 16px;
    }
}

.title {
    position: relative;
    width: fit-content;
    font-weight: 700;
    font-size: 28px;
    transition: 0.4s;

    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -7px;
        left: 0;
        visibility: hidden;
        transition: 0.4s ease-in-out;

        background-color: $text-high-emphasis;
    }

    a:hover &:before {
        width: 100%;
        visibility: visible;

        background-color: $primary-color;
    }
}

a {
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.btn {
    &--container {
        margin-top: 12px;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &-primary {
        width: fit-content;
    }

    &-secondary {
        text-decoration: underline;
        width: fit-content;
    }
}
