@import "src/app/variables";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block {
    margin: 12px 0;
    width: 70%;
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
        margin-top: 6em;
    }

    &:last-child {
        margin-bottom: 3em;
    }
}

.curved {
    height: 110vh;
    width: 100%;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    background-size: 175%;

    background: $night-gradient;
    background-size: 100% 150%;
    animation: 16s animate-gradient ease-in-out infinite;
}

.header {
    height: 100vh;
}

.text {
    flex-direction: column;
}

@media only screen and (min-width: 2000px) {
    .block {
        width: 57%;
    }
}

@media only screen and (max-width: 1770px) {
    .block {
        width: 75%;
    }
}

@media only screen and (max-width: 1200px) {
    .block {
        width: 80%;
    }
}

@media only screen and (max-width: 1000px) {
    .header {
        flex-direction: column;
    }

    .block {
        &:nth-child(1) {
            margin-top: 1.75em;
        }

        &:last-child {
            margin-bottom: 5em;
        }
    }
}

@media only screen and (max-width: 800px) {
    .block {
        width: 88%;
    }
}

@keyframes animate-gradient {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 0 80%;
    }

    100% {
        background-position: 0 0;
    }
}
