@import "src/app/variables";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block {
    margin: 18px 0;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: $background-block;
    border-radius: $b-radius-block;
    border: $b-width solid $b-color-light;
    padding: $padding-high;

    &.header {
        background-color: transparent;
        border: none;

        & p {
            animation: 3s animate-heading-paragraph ease-in-out;
        }

        & .btn-primary {
            animation: 3.5s animate-heading-button ease-in-out;
        }
    }

    &:nth-child(1) {
        margin-top: 7em;
    }

    &:last-child {
        margin-bottom: 4em;
    }
}
