<div class="content">
    <div class="headline">
        <h1>hi, i am sora!</h1>
        <h2 class="sub-heading">so＼ɾa</h2>
    </div>
    <div class="btn">
        <div class="primaries">
            <a class="btn-primary" href=".#projects">take a look at my activities!</a>
            <div class="btn-primary light" id="toggle">
                <a class="moon">&#9789;</a>
                <a class="sun">&#10022;</a>
            </div>
        </div>

        <a class="btn-secondary" href=".#resources">resources i use</a>

        <a class="arrow-down" href="#about">&#10095;</a>
    </div>
</div>
