<div class="block--content">
    <h1>hi, welcome to my portfolio!</h1>
    <h2 class="sub-heading" href=".">/ˈseɪdʒ</h2>
    <p>hi, i'm jamil osoria peralta and this is my homepage. i'm glad you're visiting this page; feel free to explore it
        a bit to learn more about me!</p>
    <div class="btn--container">
        <a class="btn-secondary" href=".#about">learn about me first</a>
        <a class="btn-primary" href=".#projects">my projects</a>
    </div>
</div>
<div>
    <img draggable="false" class="head-illustration" src="assets/undraw_proud_coder.svg"/>
</div>
