@import "src/app/variables";

.block--content {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.btn--container {
    margin: 12px 0;
}

.head-illustration {
    width: 32vw;
}

img {
    pointer-events: none;
    animation: 2s animate-paragraph ease-in-out;
}

h1 {
    user-select: text;
    animation: 2.5s animate-title ease-in-out;
}

.sub-heading {
    animation: 3.4s animate-emphasis ease-in-out;
}

p {
    user-select: text;
    animation: 3s animate-paragraph ease-in-out;
}

.btn-primary, .btn-secondary {
    animation: 3s animate-emphasis ease-in-out;
}
