@import "src/app/variables";

:host {
    display: flex;
    flex-direction: row;
}

.block--content {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.btn--container {
    margin: 12px 0;
}

.head-illustration {
    width: 32vw;
}

img {
    pointer-events: none;
    animation: 2s animate-paragraph ease-in-out;
}

h1 {
    user-select: text;
    animation: 2.5s animate-title ease-in-out;
}

.sub-heading {
    animation: 3.4s animate-emphasis ease-in-out;
}

p {
    user-select: text;
    animation: 3s animate-paragraph ease-in-out;
}

.btn-primary, .btn-secondary {
    animation: 3s animate-emphasis ease-in-out;
}

@media only screen and (max-width: 1200px) {
    .head-illustration {
        width: 40vw;
    }
}

@media only screen and (max-width: 1000px) {
    .head-illustration {
        width: 100%;
    }

    .block--content {
        text-align: start;
    }

    .btn--container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: auto 0;
    }

    .btn-primary, .btn-secondary {
        display: flex;
        align-items: center;
    }
}
