@import "src/app/variables";

.block--content {
    display: flex;
    flex-direction: column;
    text-align: end;
}

h1 {
    animation: 2.5s animate-title ease-in-out;
}

h3 {
    animation: 3.2s animate-emphasis ease-in-out;
}

p {
    animation: 3s animate-paragraph ease-in-out;
}

.btn-primary {
    animation: 3s animate-emphasis ease-in-out;
}

@keyframes animate-title {
    0% {
        top: 80px;
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}


@keyframes animate-paragraph {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animate-emphasis {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
