@import "src/app/variables";

html {
    user-select: none;
    scroll-behavior: smooth;
    scroll-padding-top: calc(5em + #{$padding-high});
}

body {
    margin: 0;
    background-color: $background-base;
}

h1, h2, h3 {
    margin: 12px 0;
    font-family: "Mulish", sans-serif;
    font-weight: 900;
    font-size: 24px;

    color: $text-emphasis-high;
}

h2 {
    font-size: 24px;
}

.sub-heading {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;

    color: $primary-color;
}

p, a {
    line-height: 1.5em;
    font-family: "Mulish", sans-serif;
    font-weight: 300;
    font-size: 18px;

    color: $text-emphasis-normal;
}

a {
    color: $primary-color;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: 400;
}

h1 {
    position: relative;
}

.btn-primary {
    text-decoration: none;
    font-family: "Mulish", sans-serif;
    font-size: 15px;
    transition: 0.2s;
    box-sizing: border-box;
    cursor: pointer;

    padding: $padding-normal;
    color: $text-inverted-emphasis-High;
    background-color: rgba($primary-color, 0.86);
    border-top: $b-width solid $text-inverted-emphasis-Low;
    border-bottom: $b-width solid $primary-color;
    border-right: $b-width solid $primary-color;
    border-left: $b-width solid $text-inverted-emphasis-Low;
    border-radius: $b-radius-small;

    &:hover {
        color: $text-inverted-emphasis-high;
        background-color: $primary-color;
    }

    &.disabled {
        pointer-events: none;
        background-color: $disabled-primary-color;
    }
}

.btn-secondary {
    margin: 12px 12px;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-family: "Mulish", sans-serif;
    font-size: 15px;
    font-weight: 400;
    transition: 0.2s;

    color: $text-emphasis-low;

    &:hover {
        color: $text-emphasis-normal;
    }
}

.toggle-option-inline {
    display: block;
    user-select: none;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
    padding: 3px;
    width: 16px;
    height: 16px;
    border: $b-width solid $b-color;
    outline: 3px solid rgba($primary-color, 0);
    border-radius: $b-radius-small;
    cursor: pointer;
    background-color: transparent;
    transition: 0.4s;

    & span {
        rotate: 180deg;
        color: transparent;
        display: block;
        transition: 0.7s;
    }

    &.active {
        background-color: $primary-color;
        outline: 3px solid rgba($primary-color, 0.25);

        & span {
            color: $text-inverted-emphasis-high;
            rotate: 0deg;
        }
    }

    &.inactive {
        background-color: $text-emphasis-low;
        color: rgba($text-emphasis-low, 0.75);
        outline: 3px solid rgba($text-emphasis-low, 0.2);
        cursor: not-allowed;

        & span {
            color: $text-inverted-emphasis-high;
            rotate: 0deg;
        }
    }
}

.input {
    padding: 8px;
    background-color: $background-base;
    border-radius: $b-radius-small;
    color: $text-emphasis-normal;
    font-family: "Mulish", sans-serif;
    font-size: 15px;
    border: $b-width solid $b-color;
    outline: 3px solid rgba($primary-color, 0);
    transition: 0.4s;

    &:focus {
        border: $b-width solid $primary-color;
        outline: 3px solid rgba($primary-color, 0.25);
    }
}

.input.faulty {
    border: $b-width solid rgba($terminal-error, 0.75);
    background-color: rgba($terminal-error, 0.15);
    outline: 3px solid rgba($terminal-error, 0.3);
}

.text-content-expander {
    display: inline-block;
    user-select: none;
    font-size: 35px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.4s;

    &:hover {
        opacity: 0.8;
    }

    :nth-child(1) {
        display: block;
    }

    :nth-child(2) {
        display: none;
    }

    &.active {
        :nth-child(1) {
            display: none;
        }

        :nth-child(2) {
            display: block;
        }
    }
}

.alert-box {
    margin: calc($margin-links-y/2) 0;
    padding: 0 16px;
    border-radius: $b-radius-small;
    border: $b-width solid $b-color;
    background-color: $background-base;
    user-select: none;

    & strong {
        user-select: text;
    }

    .heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        hr {
            margin: 12px 0;
        }

        .closing-button {
            align-self: center;
            cursor: pointer;
        }
    }

    & h1 {
        font-size: 16px;
        font-weight: bolder;
        margin-top: 12px;
    }

    & p {
        font-size: 15px;
        margin: 8px 0;

        & strong {
            font-weight: bold;
        }
    }

    &.info {
        .heading {
            .closing-button {
                border-radius: 50%;
                padding: 1px 5px;

                transition: 0.2s;

                &:hover {
                    background-color: rgba($terminal-neutral, 0.25);
                }
            }
        }

        background-color: rgba($terminal-neutral, 0.15);
        color: rgba($terminal-neutral, 0.75);
        border-color: rgba($terminal-neutral, 0.25);

        hr {
            color: rgba($terminal-neutral, 0.25);
        }

        & h1 {
            color: rgba($terminal-neutral, 0.75);
        }

        & p {
            color: rgba($terminal-neutral, 0.75);
        }
    }

    &.hidden {
        display: none;
    }
}

@keyframes animate-title {
    0% {
        top: 80px;
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}


@keyframes animate-paragraph {
    0% {
        opacity: 0;
    }

    45% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animate-emphasis {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1000px) {
    html {
        scroll-padding-top: $padding-high;
    }
}
