@import "src/app/variables";

html {
    user-select: none;
}

body {
    margin: 0;
    background-color: $background-base;
}

h1, h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 42px;

    color: $text-high-emphasis;
}

p {
    line-height: 1.8em;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;

    color: $text-medium-emphasis;
}

h1 {
    position: relative;
    animation: 2.5s animate-heading ease-in-out;
}

@keyframes animate-heading {
    0% {
        top: 80px;
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}
